<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941878705361-v7cn63370iqs8tro2jqc1q8864gu3ob1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941878705361-v7cn63370iqs8tro2jqc1q8864gu3ob1</string>
	<key>API_KEY</key>
	<string>AIzaSyC96dcwymL48UkiE99UaDhKm4fT3dbgnsY</string>
	<key>GCM_SENDER_ID</key>
	<string>941878705361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TCHSApp</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-1a516</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-1a516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:941878705361:ios:8aa96a614bdef02b80d9f0</string>
</dict>
</plist>
